.header-1 {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 48px;
  margin-right: -600px;
}
.cart {
  font-weight: 100px;
  font-size: 0.8rem;
}

.banner {
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
}
.banner h1 {
  font-weight: bold;
  font-size: 4rem;
}

.banner p {
  color: #8987a1;
  font-weight: 570px;
  font-size: 1.5rem;
}
.fresh {
  color: #e95a08;
}
.plants {
  text-align: center;
  max-width: 1140px;
  margin: 0 auto;
}
.plants h1 {
  font-weight: 1140px;
  font-size: 3rem;
}
.plants p {
  color: #8987a1;
  font-weight: 570px;
  font-size: 1.5rem;
}
.card {
  max-width: 1140px;
  margin: 0 auto;
}
.card-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  row-gap: 20px;
  column-gap: 10px;
}
/* .card-des {
  border: 2px solid red;
} */
.card-1 button {
  width: 100%;
  padding: 19px 20px;
  font-weight: 110px;
  font-size: 0.85rem;
  background-color: #e95a08;
  color: aliceblue;
  border: none;
}
.card h6 {
  font-weight: 100px;
  font-size: 1.2rem;
}
.card h5 {
  font-weight: bolder;
  font-size: 1.5rem;
  margin-top: -30px;
}
.lover {
  display: flex;
  max-width: 1140px;
  margin: 100px auto;
  position: relative;
  align-items: center;
  gap: 20px;
}
.lover #badge {
  width: 20%;
  margin-left: 400px;
  margin-top: -100px;
  position: absolute;
}
.lover img {
  display: block;
}
ul li {
  padding-bottom: 20px;
  font-size: 20px;
}
.des {
  padding-left: 10px;
}
.des h1 {
  margin-top: 10%;
  font-weight: bolder;
  font-size: 3.5rem;
}
.des-p {
  color: #8987a1;
  font-weight: 300px;
  font-size: 3rem;
}
.deal-des {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  height: 300px;
  gap: 5px;
}

.deal {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.deal h1 {
  font-weight: 1440px;
  font-size: 4rem;
}
.deal p {
  color: #8987a1;
  font-weight: 300px;
  font-size: 2rem;
  margin-top: -20px;
}
.zabo {
  position: relative;
}

.zabo-des {
  position: absolute;
  margin-top: -280px;
  margin-left: 200px;
  text-align: center;
}
.zabo-des h2 {
  font-weight: bolder;
  font-size: 3rem;
  color: white;
}
.zabo-des h5 {
  font-weight: 270px;
  font-size: 3rem;
  text-decoration: underline;
  color: aliceblue;
  margin-top: -30px;
}
.bloom {
  position: relative;
}

.bloom-des {
  position: absolute;
  margin-top: -140px;
  margin-left: 80px;
  text-align: center;
}
.bloom-des h2 {
  color: aliceblue;
}
.bloom-des h5 {
  text-decoration: underline;
  color: aliceblue;
  font-size: 1rem;
  margin-top: -15px;
}
#off-60 {
  border-left: 3px solid white;
}

.banner-2 {
  background-image: url(B12A02-Responsive-Flowers-main/assets/news-letter-bg.png);
  height: 533px;
  margin-top: 340px;
}
.banner-2-des {
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}
.banner-2-des h1 {
  color: white;
  font-weight: bolder;
  font-size: 3.8rem;
}
.banner-3 input {
  border: none;
  width: 540px;
  padding: 17px;
  font-size: 0.95rem;
  font-weight: 79px;
}
.banner-3 button {
  background-color: #e95a08;
  color: aliceblue;
  border: none;
  width: 186px;
  font-size: 0.95rem;
  font-weight: 79px;
}
.banner-3 {
  display: flex;
  justify-content: center;
}
.footer {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  margin: 60px auto;
}
.footer p {
  color: #8987a1;
}
#footer-ul {
  list-style-type: none;
  color: #8987a1;
}

.icon img {
  gap: 8px;
}
.icon {
  display: flex;
  gap: 12px;
  margin-top: 15px;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .header-1 {
    flex-direction: row;
  }
  .header-list {
    display: none;
  }

  .banner {
    flex-direction: column-reverse;
  }
  .banner img {
    width: 100%;
  }
  .plants {
    flex-direction: column;
  }
  .card-des img {
    width: 70%;
  }
  .card-1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .deal-img {
    flex-direction: column;
  }
  .lover {
    flex-direction: column;
  }
  #badge {
    display: none;
  }
  #store {
    width: 100%;
  }
  .des {
    margin-top: 50px;
  }
  .deal-des {
    flex-direction: column;
  }
  .zabo img {
    height: 100%;
    width: 100%;
  }
  .zabo-des {
    position: absolute;
    margin-top: -140px;
    margin-left: 40px;
    text-align: center;
  }
  .zabo-des h2 {
    font-weight: bold;
    font-size: 1.7rem;
    color: white;
  }
  .zabo-des h5 {
    font-weight: 270px;
    font-size: 1.3rem;
    text-decoration: underline;
    color: aliceblue;
  }

  .footer {
    flex-direction: column;
  }
  .footer-1 {
    margin-left: 25px;
  }

  .icon {
    flex-direction: row;
    margin-left: 25px;
  }

  .banner-2-des h1 {
    font-size: 1.5rem;
    margin-top: 70px;
  }
  .banner-3 {
    padding: 0 24px;
  }
}
